body{
    background-color: aliceblue;
    margin: 0;
}
div {
    border: 1px solid white;
    border-radius:2px;
    /*margin: 10px 5px;*/
}
#logo{
    width: 40px;
    height: 30px;
    border: 1px solid black;
    margin-right: 10px;
}
#article-img{
    width: 100%;
    margin: 0px;
    border: 1px solid white;
    border-radius: 0px;
}
a{
    font-size: 10px;
}
.article-info{
    color: grey;
}
#main-section-container{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 15px auto;
}
#header-div{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: white;
    align-items: center;
    width: 80%;
    margin: auto;
}
#header-wrapper{
    background-color: white;
}
#header-div > div{
    display: flex;
    /*justify-content: space-between;*/
    width: 500px;
}
#header-div input{
    flex-grow: 1;
}
#article-section{
    width: 70%;
    background-color: white;
    /*flex-grow: 2;*/
    margin-right: 15px;
}
#article-section > div{
    padding: 5px;
    background-color: bisque;
}
#side-section{
    width: 30%;
    /*flex-grow: 1;*/
}
#side-section div{
    background-color: white;
    padding: 5px;
    margin-bottom: 15px;
}
#footer{
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
}
button{
    font-size: 18px;
    color: blue;
    border: 1px solid blue;
    border-radius: 5px;
    background-color: white;
    padding: 5px 10px;
}
input{
    font-size: 15px;
    border: 1px solid grey;
    border-radius: 3px;
}
button:hover{
    cursor: pointer;
    color: white;
    background-color: blue;
}
#post-form-container input, textarea{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
}
#post-form-container{
    width: 400px;
    margin: auto;
    display: none;
}